<!--uses the extends keyword-->
{% extends "layout.html" %}

{% block content %}
    <!--write code in templates-->
    <div class="content-section">
        <form method="POST" action="">
            <!--CSRF token passed in-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> <!--bootstrap stuff-->
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    <!--converted from forms.py to the html file-->
                    {{ form.username.label(class="form-control-label") }}
                    <!--error message -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <!--error message -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            <!--wrongly typed errors for error...QQ-->
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <!--error message -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}   
                </div>
                <div class="form-group">
                    {{ form.comfirmed_password.label(class="form-control-label") }}
                    <!--error message -->
                    {% if form.comfirmed_password.errors %}
                        {{ form.comfirmed_password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.comfirmed_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comfirmed_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class ="btn btn-outline-info")}}
                </div>
            </fieldset>    
        </form>
    </div>

    <!--already have an account-->
    <div class="border-top pt-3">
        <small class="text-muted">
            <!--url_for: pass in the function name of the route-->
            Already Have An Account? <a class="ml-2" href="{{ url_for('login')}}">Sign In</a>
        </small>
    </div>
{% endblock content %}